# # fogo_companion/requirements.txt

# flask
# python-dotenv
# pypdf
# python-docx
# requests
# werkzeug
# gunicorn

# fogo_companion/requirements.txt

flask
python-dotenv
pypdf
python-docx
requests
werkzeug
gunicorn
sqlalchemy
psycopg2-binary
uvicorn